*{
    font-family: "Oswald", sans-serif;
    color: #34332f;
}

.fondo{
    background-color: #ebe6d8b6;
}

.imagen-fondo{
    background-image: url(../img/portada.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.boton:hover{
    background-color: #4d4b4673;
}

#lanita, #vida, footer, .boton, .premios, .titulo, .videofondo {
    background-color: #9d9a90b6;
}

#lanita p{
    width: 500px;
}

.cards1, .cards4{
    width: 350px;
}
.cards3{
    width: 300px;
}
.fotoAchicada {
    width: 300px;
    height: 300px;
}

.cards1, .cards2, .videografi {
    transition: transform 0.5s ease;
}
.cards1:hover, .cards2:hover, .videografi:hover {
    transform: scale(1.05);
}

.cards2 img {
    transition: filter 0.3s ease;
}
.cards2 h5 {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards2:hover img {
    filter: blur(3px);
}
.cards2:hover h5 {
    opacity: 1;
}

.textoFinal {
    color: #9d9a90b6;
}

.cards6{
    width: 500px;
}

.galeria img {
    transition: 0.3s linear;
}
.galeria img:hover {
    filter: drop-shadow(5px 5px 10px rgb(54, 54, 54));
}

.lanaytw{
    background-color: #ebe6d800;
}

.imagen{
    max-width: 30px;
}