*{
    font-family: "Oswald", sans-serif;
}

.fondo{
    background-color: #ebe6d8b6;
}

.imagen-fondo{
    background-image: url(../img/portada.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.boton:hover{
    background-color: #4d4b4673;
}

#lanita, #vida, footer, .boton {
    background-color: #9d9a90b6;
}

#lanita p{
    width: 500px;
}

.card {
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
}

.card-img {
    transition: filter 0.3s ease;
}
.card-title {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card:hover .card-img {
    filter: blur(3px);
}
.card:hover .card-title {
    opacity: 1;
}

.lanaytw{
    background-color: #ebe6d800;
}

.imagen{
    max-width: 30px;
}